.pagination {
  display: flex;
  margin: 15px auto;
  background-color: white;
}

.pagination > li > a {
  border: 1px solid black;
  padding: 5px 10px;
  color: black;
}
.pagination > .active > a {
  background-color: #2f80ed;
  color: #fff;
}
