@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: font-Roboto;
    font-size: 20px;
  }
  img {
    display: block;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
  }
  .tableDetail table tr td {
    border: none;
    border-collapse: collapse;
    width: 50%;
    vertical-align: top;
    padding: 1px;
  }
}
